html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
  background-color: #f5f7f9;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
